<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">
    <div class="form-content-container">
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput type="text" formControlName="title">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Preço</mat-label>
            <input matInput type="text" formControlName="price">
        </mat-form-field>

        <mat-form-field>
            <mat-label>URL da imagem</mat-label>
            <input matInput type="text" formControlName="image">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descrição</mat-label>
            <textarea matInput type="text" formControlName="description"></textarea>
        </mat-form-field>
        <button mat-raised-button type="submit">Salvar</button>
    </div>


</form>